<div class="w-full md:w-1/3 xl:w-1/4 p-6">
    <div class="images filters w-full mb-6 lg:mb-0 lg:w-3/5">
        <a href="{% url 'product' product.slug %}">
            <img class="rounded-xl w-32 h-32" src="{{ product.get_thumbnail }}" >
        </a>
    </div>
    <div class="pt-3 flex  justify-between">
        <a href="{% url 'product' product.slug %}">{{ product.name }}</a>
    </div> 
    <div>
        <p class="mt- 1 pt-1 text-black">
            R{{ product.price }}
        </p>
    </div> 
</div> 