{% extends 'core/base.html' %}

{% block content %}

<div>
    <p class="font-bold text-white text-xl mt-12 ml-32">
        YOU'RE WELCOME
    </p>
    <p class="font-bold text-white font-serif text-lg mt-36 ml-30">
        Sit back, relax, and let us treat
    </p>
    <P class="font-bold text-white font-serif text-lg ml-30">
        you to a culinary adventure like
    </p>
    <P class="font-bold text-white font-serif text-lg ml-30">
        no other. Browse our menu and  
    </p>
    <P class="font-bold text-white font-serif text-lg ml-30">
        place your order now and 
    </p>
    <p class="font-bold text-white font-serif text-lg ml-30">
        embark on a culinary 
    </p>
    <p class="font-bold text-white font-serif text-lg ml-30">
        journey you won't 
    </p>
    <p class="font-bold text-white font-serif text-lg ml-30">
        soon forget.
    </p>
</div>
<div class="footer right flex justify-end items-center space-x-4 rounded-lg mt-8 mb-4 mr-2">
    <img src="https://th.bing.com/th/id/OIP.55DCXbXlKDgEBoZhKxpzLAAAAA?rs=1&pid=ImgDetMain" alt="" class=" w-12 h-12 max-w-xs sm:max-w-sm md:max-w-lg lg:max-w-xl xl:max-w-2xl rounded-lg shadow-md">
    <img src="https://th.bing.com/th/id/OIP.-ZirgQE5pr8e7htQWowJIgHaHa?rs=1&pid=ImgDetMain" alt="" class=" w-12 h-12 max-w-xs sm:max-w-sm md:max-w-lg lg:max-w-xl xl:max-w-2xl rounded-lg shadow-md">
    <img src="https://th.bing.com/th/id/OIP.DXDX2yHhGHZWD_fDZIpuzAAAAA?w=474&h=474&rs=1&pid=ImgDetMain" alt="" class=" mr- 4 w-12 h-12 max-w-xs sm:max-w-sm md:max-w-lg lg:max-w-xl xl:max-w-2xl rounded-lg shadow-md">
</div>
{% endblock %}