<script src="https://cdn.tailwindcss.com"></script>
<title>{% block tittle %}{{ product.name }}{% endblock %} | sam's restaurant</title>
<script src="https://unpkg.com/htmx.org@1.7.0"></script>
<script type="module" src="https://unpkg.cpm/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script module src="https://unpkg.cpm/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>

<nav class="">
    <div class="frontpage flex justify-between items-center p-4 rounded-md shadow-md bg-gray-500">
        <div class="flex items-center space-x-4 rounded-lg">
            <img src="https://webstockreview.net/images/clipart-restaurant-restaurant-logo-13.png" alt="" class=" w-20 h-20 max-w-xs sm:max-w-sm md:max-w-lg lg:max-w-xl xl:max-w-2xl rounded-lg shadow-md">
            <p class="text-gold text-3x1 font-extrabold">SAM's RESTAURANT</p>
        </div>
        <ul class="nav-menu flex items-center list-none gap-10 text-white-700 text-lg front-semibold">
            <li class="menu-item" onclick="setMenu('home')"><a href="home" class="nav-link"><a href="{% url 'frontpage' %}">Home</a></a>{% if menu == 'home' %}<hr class="nav-hr">{% endif %}</li>
            <li class="menu-item" onclick="setMenu('login')"><a href="login" class="nav-link">Login</a>{% if menu == 'login' %}<hr class="nav-hr">{% endif %}</li>
            <li class="menu-item" onclick="setMenu('signup')"><a href="signup" class="nav-link">SignUp</a>{% if menu == 'signup' %}<hr class="nav-hr">{% endif %}</li>
            <li>
                <div
                    hx-get="{% url 'hx_menu_cart' %}"
                    hx-trigger="update-menu-cart from:body"
                    hx-swap="innerHTML"
                >
                    {% include 'cart/menu_cart.html' %}
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class=" max-w-6xl mx-auto flex flex-wrap py-2 px-6 xl:px-0">
    <div class="images filters w-full mb-6 lg:mb-0 lg:w-3/5 mt-12">

        <img class="rounded-xl w-42 h-42" src="{{ product.get_thumbnail }}" >

    </div>
    
    <div class="information w-full lg:w-2/5 lg:p-6">
        <h1 class="text-2xl">{{ product.name }}</h1>

        <p class="mt-1 text-gray">R{{ product.price }}</p>

        <a 
            href="#" 
            class="mt-6 inline-block px-8 py-4 rounded-xl bg-purple-500 text text-white hover:bg-purple-700"
            hx-get="{% url 'add_to_cart' product.id %}"
            hx-target="#menu-cart-button"
            hx-swap="outerHTML"
            >
            Add to cart
        </a>
        <button class="mt-6 inline-block px-8 py-4 rounded-xl bg-purple-500 text text-white hover:bg-purple-700"><a href="{% url 'menu' %}">Menu</a></button>

    </div>
</div>

